*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
}
.hero-section,
.body-section,
.experience-section{
    padding: 80px 0px;
}
.hero-section{
    vertical-align: middle;
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
}
.hero-section h1{
    color: #000;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
}
.hero-section img{
    width: 90%;
    float: right;
}
.hero-section h2{
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin: 30px 0 20px;
}
.hero-section p{
    color: rgba(0, 0, 0, 0.604);
    font-size: 16px;
    font-weight: 400;
}
.col-1{
    margin-top: 60px;
}
.hero-section a{
    padding: 13px 40px;
    background-image: linear-gradient(#FFA500 , #E96352);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}