*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.hero-section,
.body-section,
.experience-section{
    padding: 80px 0px;
}
.hero-section{
    vertical-align: middle;
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
}